html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
}

#app {
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#project-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#whiteboard-container {
  border: 3px solid black;
  display: flex;
}

.side {
  flex: 1 1 auto;
}

#workspace-container {
  display: flex;
  width: 100%;
  /* height: 80vh; */
  /* border: 3px solid lightblue; */
  padding-left: 0px;
  padding-right: 0px;
}

#project-title {
  display: block;
}

#nameArea {
  display: flex;
  align-items: center;
}

.pen-icon {
  color: #5393d3;
  align-self: flex-end;
  margin-bottom: 0.5em;
}

#Circle-out {
  display: flex;
  align-items: center;
}

.little-circle {
  align-self: center;
  margin-left: 0.2em;
}

#boardName {
  text-align: center;
}

#toolbar {
  background-color: grey;
}

.MuiPaper-root.MuiDrawer-paper {
  height: 100%;
  position: static;
}

.MuiListItem-root.tool-item {
  padding-left: 5px;
  padding-right: 5px;
}

.MuiPaper-root.project-title-bar {
  height: 4em;
  width: 90%;
  display: flex;
  margin: 0.5em;
  align-items: center;
  justify-content: space-between;
  padding: 0em 1em 0em 1em;
}

#project-title {
  text-align: center;
  font-size: 2em;
  color: #5393d3;
}

#drag-handler {
  width: 20px;
  padding: 0;
  cursor: ew-resize;
  flex: 0 0 auto;
}
#drag-handler::before {
  content: '';
  display: block;
  width: 5px;
  height: 100%;
  background: #5393d3;
  margin: 0 auto;
}

.sc-launcher,
.sc-chat-window {
  z-index: 50;
}
