html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* #project-view {
  display: flex;
} */

#whiteboard-container {
  border: 3px solid black;
  width: 50%;
}

#code-editor-container {
  /* border: 3px solid peru; */
  width: 50%;
}

#workspace-container {
  display: flex;
  width: 98vw;
  /* height: 80vh; */
  border: 3px solid lightblue;
}

#project-title {
  display: block;
}

#boardName {
  text-align: center;
}
