html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
}

#app {
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#project-view {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#whiteboard-container {
  border: 3px solid black;
  width: 50%;
  display: flex;
}

#code-editor-container {
  /* border: 3px solid peru; */
  width: 50%;
}

#workspace-container {
  display: flex;
  width: 100%;
  /* height: 80vh; */
  /* border: 3px solid lightblue; */
  padding-left: 0px;
  padding-right: 0px;
}

#project-title {
  display: block;
}

#boardName {
  text-align: center;
}

#toolbar {
  background-color: grey;
}

.MuiDrawer-paper {
  height: 100%;
  position: static;
}

.MuiListItem-root.tool-item {
  padding-left: 0px;
}

.MuiIconButton-root.tool-button {
  margin-right: 1em;
}

.MuiPaper-root.project-title-bar {
  height: 4em;
  width: 90%;
  display: flex;
  margin: 0.5em;
  align-items: center;
  justify-content: space-between;
  padding: 0em 1em 0em 1em;
}

#project-title {
  text-align: center;
  font-size: 2em;
  color: #5393d3;
}
